<section class="admin-products-new">

  <header class="page-header">
    <h1>Admin - Edit Truck</h1>
  </header>

  <div class="well">
    <%= link_to 'All Trucks', [:admin, :trucks], class: 'btn btn-info' %>
  </div>

  <%= render 'form' %>

    </div>
  </div>

</section>
